version: "3"
services:
  ldap:
    image: dcm4che/slapd-dcm4chee:2.4.44-13.3
    logging:
      driver: json-file
      options:
        max-size: "10m"
    expose:
      - "389"
    env_file: dcm4chee-docker-compose.env
    volumes:
      - ./tmp/dcm4chee-arc/ldap:/var/lib/ldap
      - ./tmp/dcm4chee-arc/slapd.d:/etc/ldap/slapd.d
  db:
    image: dcm4che/postgres-dcm4chee:10.0-13
    logging:
      driver: json-file
      options:
        max-size: "10m"
    expose:
      - "5432"
    env_file: dcm4chee-docker-compose.env
    volumes:
      - ./tmp/dcm4chee-arc/db:/var/lib/postgresql/data
  arc:
    image: dcm4che/dcm4chee-arc-psql:5.13.3
    logging:
      driver: json-file
      options:
        max-size: "10m"
    ports:
      - "8008:8080"
    env_file: dcm4chee-docker-compose.env
    environment:
      WILDFLY_CHOWN: /opt/wildfly/standalone /storage
      WILDFLY_WAIT_FOR: ldap:389 db:5432
    depends_on:
      - ldap
      - db
    volumes:
      - ./tmp/dcm4chee-arc/wildfly:/opt/wildfly/standalone
      - ./tmp/dcm4chee-arc/storage:/storage
